################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Stock_Management/FileContentIndex/4253eeb9-d376-4dc1-9a86-2c5ba17f9d2f.vsidx
/.vs/Stock_Management/FileContentIndex/2043240f-cc4b-44a2-a915-b90d170db610.vsidx
/.vs/Stock_Management/FileContentIndex/21f23d0d-dede-4667-8940-c19aa03234b3.vsidx
/.vs/Stock_Management/FileContentIndex/6459f6d7-fd2c-4243-a558-789d906af25d.vsidx
/.vs/Stock_Management/FileContentIndex/61f5d525-7bce-4db3-835f-40765eab94f9.vsidx
